<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
	<div class="container">
	    <div class="results">
		<table class="table">
		    <thead>
			<th>
			    <select id="schoolnames"><option value="All Schools">All Schools</option>
			    {% for s in schools %}
			    <option value="{{ s }}">{{s}}</option>
			    {% endfor %}
			    </select>
			</th>
			<th>Advisor</th>
			<th>Email</th>
			<th>Conference</th>
			<th>Number of Students</th>
		    </thead>
		    <tbody>
			{% for item in data %}
			<tr> 
			    <td>{{ item.School }}</td>
			    <td>{{ item.Advisor }}</td>
			    <td>{{ item.Email }}</td>
			    <td>{{ item.Conference }}</td>
			    <td>{{ item.NumberOfStudents }}</td>
			</tr>
			{% endfor %}
		    </tbody>
		</table>
	    </div>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script>
	    $(document).ready(function(){
		$('#schoolnames').on('change', function(e) {
		    var val = $('#schoolnames option:selected').text();
		    if (val === "All Schools") {
			location.reload();
		    }
		    console.log("new value = " + val);
		    $.ajax({
			url: "/entries",
			type: "POST",
			data: { schoolname: val },
			dataType: "json"
		    })
		    .done(function( msg) {
			$('tbody').html("");
			var outstring = "";
			msg.forEach(function(c, i, a) {
			    outstring += "<tr>";
			    outstring += "<td>";
			    outstring += c['School']
			    outstring += "</td>";
			    outstring += "<td>";
			    outstring += c['Advisor']
			    outstring += "</td>";
			    outstring += "<td>";
			    outstring += c['Email']
			    outstring += "</td>";
			    outstring += "<td>";
			    outstring += c['Conference']
			    outstring += "</td>";
			    outstring += "<td>";
			    outstring += c['NumberOfStudents']
			    outstring += "</td>";
			    outstring += "</tr>";
			});
			$('tbody').html(outstring);
		    });
		});
	    });
	</script>
    </body>
</html>
